html {
  padding: 0;
  margin: 0;
}

body {
  background: #737373;
  color: #000;
}

h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-family: 'Muli', sans-serif;
}

header {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.board {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #D1EBF0;
  border-top: 20px solid #000;
  border-bottom: 20px solid #F5EEE9;
  border-left: 20px solid #F5EEE9;
  border-right: 20px solid #000;
}

.board td {
  width: 50px;
  height: 45px;
  padding: 10px;
  border: 2px solid black;
}

.turn-black {
  background-color: black;
}

.turn-white {
  background-color: white;
}

.sidebar-left {
  float: left;
  margin-left: auto;
  margin-right: auto;
  background: #E4EEF0;
  padding: 10px;
  border-radius: 15px;
}

.sidebar-right {
  float: right;
  margin-left: auto;
  margin-right: auto;
  background: #E4EEF0;
  padding: 10px;
  border-radius: 15px;
}

#piece-black {
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #737373;
  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

#piece-white {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #737373;
  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

.info {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 30%;
  background: #000;
  color: #737373;
  font-size: 0.7em;
  text-align: center;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 1px;
}
