html {
  padding: 0;
  margin: 0;
}

body {
  background: #737373;
  color: #000;
}

h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-family: 'Muli', sans-serif;
}

header {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.board {
  width: 450px;
  height: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-top: 20px solid #000;
  border-bottom: 20px solid #e8ded7;
  border-left: 20px solid #F5EEE9;
  border-right: 20px solid #1f1f1f;
  background-color: #D1EBF0;
  background-image:
    linear-gradient(45deg, #b2c2b7 25%, transparent 25%, transparent 75%, #b2c2b7 75%),
    linear-gradient(45deg, #b2c2b7 25%, transparent 25%, transparent 75%, #b2c2b7 75%);
  background-size:112px 110px;
  background-position:0 0, 56px 55px;
}

.board table {
  border: 3px solid #737373;
  width: 450px;
  height: 441px;
}

.board td {
  width: 40px;
  height: 40px;
  padding: 5px;
  /*border: 1px solid #e2853b;*/
}

.turn-black {
  background-color: black;
}

.turn-white {
  background-color: white;
}

.sidebar-left {
  float: left;
  margin-left: auto;
  margin-right: auto;
  background: #E4EEF0;
  padding: 10px;
  border-radius: 15px;
}

.sidebar-right {
  float: right;
  margin-left: auto;
  margin-right: auto;
  background: #E4EEF0;
  padding: 10px;
  border-radius: 15px;
}

.piece-black::after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #737373;
  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

.piece-white::after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #737373;
  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

#turn-indicator-black {
  background: #fff;
  color: #d44655;
  font-family: 'Philosopher', sans-serif;
  font-size: 1em;
  padding: 2px;
  border-radius: 5px;
  display: none;
}

#turn-indicator-white {
  background: #fff;
  color: #d44655;
  font-family: 'Philosopher', sans-serif;
  font-size: 1em;
  padding: 2px;
  border-radius: 5px;
  display: none;
}

#start-button {
  float: left;
  width: 100px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 3px;
  font-family: 'Philosopher', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

#start-button:hover{
  background: #eb8573;
}

.start-panel {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  text-align: center;
}

.start-panel p {
  float: right;
  margin: 5px;
}

.info {
  width: 100%;
  margin: -10px;
  padding: 10px;
  background: #b2c2b7;
  background-image: url("images/patternstripe.png");
  background-position: top;
  background-repeat: repeat-x;
}

.info-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.info-left {
  width: 10%;
  float: left;
}

.info-right {
  width: 60%;
  float: right;
}

footer {
  width: 30%;
  background: #000;
  color: #737373;
  font-size: 0.7em;
  text-align: center;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 1px;
}
